@import "tailwindcss";
@import "akanjs/ui/styles.css";

@plugin "daisyui" {
  logs: false;
  exclude: properties;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #0c1e40;
  --color-primary-content: #ffffff;
  --color-secondary: #2b2e33;
  --color-secondary-content: #ffffff;
  --color-accent: #d1a23b;
  --color-accent-content: #ffffff;
  --color-base-content: #0c1e3e;
  --color-base-100: #fafafa;
  --color-base-200: #f5f5f5;
  --color-info: #173b78;
  --color-info-content: #ffffff;
  --color-neutral: #3ed13b;
  --color-neutral-content: #ffffff;
  --color-success: #255fc3;
  --color-success-content: #ffffff;
  --color-warning: #ffcc00;
  --color-warning-content: #000000;
  --color-error: #e82828;
  --color-error-content: #ffffff;
  --color-open: #10fc00;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #6767fa;
  --color-primary-content: #f8f5fd;
  --color-secondary: #b443f0;
  --color-secondary-content: #f8f5fd;
  --color-accent: #f07e43;
  --color-accent-content: #ffffff;
  --color-base-content: #f8f5fd;
  --color-base-100: #202123;
  --color-base-200: #3b3d41;
  --color-info: #a2bded;
  --color-info-content: #000000;
  --color-neutral: #3bd173;
  --color-neutral-content: #000000;
  --color-success: #255fc3;
  --color-success-content: #ffffff;
  --color-warning: #ffcc00;
  --color-warning-content: #000000;
  --color-error: #e82828;
  --color-error-content: #ffffff;
  --color-open: #10fc00;
}
